<section id="contactss">
    <div class="uk-padding">

        <div class="uk-child-width-expand@s " uk-grid>
            <div>
                <h3 class="textAlignTitle contactMargin "> <span class="border-bottom-contact">أتصل بنا </span> </h3>
                <div class="textAlignParagraph">

                    <div>
                        <a href="mailto:info@codeforiraq.org" style=" color: #ebebeb;text-decoration: none;">
                            <i class="icons" uk-icon="mail"></i> info@codeforiraq.org</a>
                    </div>

                    <div>
                        <i class="icons" uk-icon="receiver"></i>
                        <label>009647700000000</label>

                    </div>
                    <div>
                        <i class="icons" uk-icon="location"></i>
                        <label>Iraq</label>

                    </div>

                </div>
            </div>

            <div>
                <h3 class="textAlignTitle contactMargin "> <span class="border-bottom-contact">عنا</span> </h3>
                <div class="textAlignParagraph">

                    نحن مجموعة من المبرمجين المتطوعين في المبادرة الانسانية البرمجة من أجل العراق. تهدف المبادرة الى خدمة وبناء المجتمع من الشعب والى الشعب عن طريق البرمجة
                </div>
            </div>

            <div>
                <h3 class="textAlignTitle contactMargin "> <span class="border-bottom-contact">تابعنا</span></h3>
                <div class="textAlignParagraph iconsMargin ">
                    <div class="icons soical-media">
                        <a href="/"><i  uk-icon=" icon: facebook; ratio: 1.5"></i></a>
                        <a href="/"><i uk-icon=" icon: twitter; ratio: 1.5"></i></a>
                        <a href="/"><i uk-icon=" icon: linkedin; ratio: 1.5"></i></a>
                        <a href="/"><i uk-icon=" icon: instagram; ratio: 1.5"></i></a>
                        <a href="/"><i uk-icon=" icon: google-plus; ratio: 1.5"></i></a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>