<footer id="footerclass">
    <div class="uk-container">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div style="color:#666;">
                <p> جميع الحقوق محفوظة © 2018 </p>
            </div>

            <div>
                <p style="color:#666;">أنشيء بواسطة <a href="https://c4i.herokuapp.com" style="color:#666;text-decoration: none;font-size: 1.1em;"> Code <i class="fab fa-foursquare"></i> Iraq</a></p>

            </div>

        </div>
    </div>
</footer>