<section>
    <div class="uk-cover-container mypaddingt ">
        <img src="assets/img/background.jpg" alt="" width="100%">
    </div>
</section>


<section>
    <header>
        <div class="uk-padding">
            <h2 style="text-align:center;color: #7d604f;">ساعدني</h2>
            <p style="text-align:center;color:#7f7b75;line-height: 30px;">تطبيق ساعدني هو مختص بمساعدة الناس التي لديها حالات مرضية مستعصيه ولا تملك المال لشراء الدواء او لأجراء عمليات خاصة و تكون المساعدة بصورة مباشره من الشخص المتبرع للشخص المحتاج دون تدخل اي جهه معينه </p>
        </div>
    </header>
</section>

<section>
    <div class="uk-padding">
        <div class="uk-child-width-expand@s" uk-grid>

            <div class="infoH3">
                <h3><i class="far fa-handshake"></i></h3>
                <p class="infoP">
                    العطاء .. بذرة من نقاء تثمر خيرا وصفاء نحن نؤمن بأن كل فرد قادر على تقديم الخدمات التي يحتاجها المجتمع, فمن اعطى وقت الحاجة كانت عطيته مضاعفة, قال تعالى :"فمن يعمل مثقال ذرة خيرا يره
                </p>
            </div>

            <div class="infoH3">
                <h3><i class="fas fa-mobile-alt iconColorSize"></i></h3>
                <p class="infoP">
                    بأمكانك تحميل تطبيق <span style="font-weight:bold;">ساعدني</span> على الهاتف المحمول فقط قم بالبحث عن اسم التطبيق داخل المتجر الخاص لتحميل التطبيقات
                </p>
            </div>
        </div>
    </div>
</section>

<div class="preview_and_configuration">

    <div class="preview">
        <div class="arrow_box">
            <h1 class="logo" style=" font-size: 1em;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
            color: #7f7b75;">

                ﴿ من عمل صالحا من ذكر أو أنثى وهو مؤمن فلنحيينه حياة طيبة ولنجزينهم أجرهم بأحسن ما كانوا يعملون ﴾ النحل : (97)
            </h1>
        </div>
    </div>
</div>